/*style.css*/
body {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: sans-serif;
	line-height: 1.5;
	min-height: 100vh;
	/* background: #f3f3f3; */
	flex-direction: column;
	margin: 0;
    background-image: url(bggg.jpg);
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 70vh;
    position: relative;
}
    
   
    


.main {
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 15px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	padding: 10px 20px;
	transition: transform 0.2s;
	width: 500px;
	text-align: center;
    
  
}


label {
	display: block;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: left;
	color: rgba(255, 255, 255, 0.7);
	font-weight: bold;
}
p{
    color: rgba(255, 255, 255, 0.7);
}


input {
	display: block;
	width: 100%;
	margin-bottom: 15px;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid #ddd;
	border-radius: 5px;
}

button {
	padding: 15px;
	border-radius: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	border: none;
	color: white;
	cursor: pointer;
	background-color: rgb(229, 9, 20);
	width: 100%;
	font-size: 16px;
}

.wrap {
	display: flex;
	justify-content: center;
	align-items: center;
 
}
button:hover{
    background-color: rgb(188, 74, 74);
}
.main img{

    width: 150px;
    position: relative;
    z-index: 10;


}
.text-decoration:hover{
background-color: rgb(65, 8, 8);

}
h3{
    color: rgba(255, 255, 255, 0.7);

}
.Forgot{
    color:rgb(255, 255, 255);
    display: flex;
    cursor: pointer;
    justify-content: end;
}
.Forgot:hover{
    color: rgb(151, 148, 148);
}
.new{
    display: flex;
justify-content: start;

}
.text-decoration{
    text-decoration: none;
}

.checkbox-label {
    display: flex;
    color: rgb(255, 255, 255);
    font-size: small;
    
  }
  
  .checkbox-label input[type="checkbox"] {

    margin-right: -230px; /* Adjust as needed */

  }
.last{
    color: rgb(151, 148, 148);
    font-size: small;
}