@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url(assets/images/bggg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 70vh;
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0;

}

nav {
    max-width: 68vw;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: auto;
    height: 100px;
}

nav img {
    /* color: red; */
    width: 130px;
    position: relative;
    z-index: 10;

}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Martel Sans', sans-serif;

    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;


}

.hero> :nth-child(1) {

    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
}

.hero :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.separation {
    height: 7px;
    background-color: rgb(56, 55, 55);
    position: relative;
    z-index: 20;
}

.btn {
    
    padding: 9px 15px;
    font-weight: 400;
    color: white;
    background-color: rgba(190, 183, 183, 0.024);
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;


}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

}

.btn-red-sm {
    background-color: red;
    color: white;
}

.main input {
    padding: 9px 101px 13px 7px;
    color: white;
    /* font-weight: 900; */
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(254, 254, 254, 0.5);

}
.first{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
    justify-content: center;
}

    

.secImg{
    position: relative;
}
.secImg img{
    width: 555px;
    position: relative;
    z-index: 10;
    
}
.secImg video{
    position: absolute;
    top: 49px;
    right: 0;
    width: 555px;
}
section.first > div{
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}
section.first > div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
}
section .first > div :nth-child(2){
    font-size: 24px;
}
.third .secImg img{
    width: 555px;
    position: relative;
    z-index: 10;
}
.third .secImg video{
  
   /* left: 10px;
   right: 10px; */
   position: absolute;
   top: 55px;
   left: 0;
  margin: auto;
   width: 360px;
   
}
.faq h2{
    text-align: center;
    font-size: 48px;
    font-weight: 900;
}
.faq{
    background-color: black;
    color: white;
    padding: 34px;
}
.faqbox:hover{
    background-color: rgb(88, 88, 88);
}
.faqbox{
    transition: all 1s ease-out;
    display: flex;
    justify-content: space-between;
    background-color: rgb(45,45,45);
    padding: 20px;
    max-width: 70vw;
    margin: 10px auto;
    cursor: pointer;
    font-size: 24px;
}
.faqbox svg{
    filter: invert(1);
}
footer{
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}
 footer .question{
    padding: 34px 0;
}



.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}
@media screen and  (max-width: 1300px){
   nav{
    max-width: 90vw;
   }
    .first{
        flex-wrap: wrap;
    }
    .secImg img{
        width: 305px;
        position: relative;
        z-index: 10;
        
    }
    .secImg video{
       
        width: 305px;
    }
    .hero> :nth-child(1) {

        
        font-size: 32px;
        
    
}
.hero> :nth-child(2) {

        
    font-size: 18px;
    

}
.hero> :nth-child(3) {

        
    font-size: 18px;
    

}
.hero-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;

}
.faq h2{
    text-align: center;
    font-size: 32px;
}
}
footer{
    max-width: 90vw;
}
.footer-item{
    align-items: center;
}
    

@media screen and  (max-width: 1300px){
   
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
      gap: 29px;
    }
}
.footer a{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    
}
.footer-item{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.suraj{
    border: 3px solid white;
}
.language-button {
    font-family: 'Poppins';
    background-color: black;
    border: 2px solid gray;
    color: white;
    padding: 8px 24px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 7px;
    display: inline-block;
    position: relative;
  }
  
  .language-symbol {
    margin-right: 5px;
    margin-left: -15px;
  }
  
  .down-arrow {
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 10px;
  

  }
  